.container {
  width: 400px;
  height: 400px;
  background: url("../../Assets/Images/image\ 2.png");
  background-size: cover;
  border-radius: 5px;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
