@import "../../Assets/Styles/fonts";
@import "../../Assets/Styles/colors";

.container {
  width: 100vw;
  height: 8vh;
  color: white;
  position: fixed;
  z-index: 4;
  background-color: transparent;
  transition-duration: 0.5s;

  .logoContainer {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: "Ephesis", cursive;
    float: left;
  }

  .navlist {
    width: 85%;
    height: 100%;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    column-gap: 60px;
    font-size: 18px;
    font-family: "Arial", serif;
    float: left;

    li {
      color: white;
      margin: 0;
    }

    .logoutBtn {
      background: none;
      color: white;
      border: 2px solid white;
      border-radius: 20px;
      padding: 0 25px 0 25px;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      transition: background 0.4s, color 0.4s, transform 0.3s;

      &:hover {
        background-color: white;
        color: black;
        transition: background 0.4s, color 0.4s, transform 0.3s;
        transform: scale(95%);
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg {
    width: 25px;
    height: 25px;
    color: white;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.visible {
  background-color: $primary-color;
  transition-duration: 0.5s;
  color: black;
  box-shadow: 0px -11px 19px 17px rgba(0, 0, 0, 0.65);

  a {
    color: black !important;
    transition-duration: 0.5s;
  }

  svg {
    color: black;
    transition-duration: 0.5s;
  }

  .logoutBtn {
    border-color: black !important;
    color: black !important;

    &:hover {
      background: black !important;
      color: white !important;
    }
  }
}
